.favorites{
    margin-top:2rem;
    &__list{
        padding:2rem;
        a{
            text-decoration: none;
        }
        .statement{
            text-align: center;
            font-size: 2rem;
        }
    }
}