.listItem {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 80%;
	margin: 2rem auto;
	margin-bottom: 2.5rem;

	&:hover {
		transition: background 0.5s;
		border-radius: none;
		border-top:0.5px solid $green;
		border-right:0.5px solid $green;
		position: relative;
		top: -10px;
		box-shadow: 3px -5px 6px 0px rgba(132,191,65,1);
	}
	&__thumbnail {
		img {
			max-width: 78px;
			max-height: 78px;
		}
	}
	&__details {
		flex: 1;
		border-bottom: 1px solid #c8c7cc;
		padding: 1rem;
		padding-left: 1rem;
		margin-left: 1rem;
		&-title {
			margin: 0 0 2px;
			font-size: 1.5rem;
			font-weight: normal;
			color: $black;
		}
		&-desc {
			margin: 0 0 2px;
			font-size: 1.2rem;
			line-height: normal;
			color: #666;
		}
	}
	.fav{
		i{
			color: $green;
			padding-right:2rem;
		}
	}
}
