.listItem {
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;
	cursor: pointer;
	width:80%;
	margin:0 auto;
    padding: 1.5rem 1rem;
    border-radius: 10px;
	&:hover {
        background: $green;
        transition: background .5s;
	}
	&__thumbnail {
		img {
			max-width: 78px;
			max-height: 78px;
		}
	}
	&__details {
		flex: 1;
		border-bottom: 1px solid #c8c7cc;
		padding: 1rem;
		padding-left: 1rem;
        margin-left: 1rem;
		&-title {
			margin: 0 0 2px;
			font-size: 1.5rem;
			font-weight: normal;
            color: $black;
           
		}
		&-desc {
			margin: 0 0 2px;
			font-size: 1.2rem;
			line-height: normal;
            color: #666;
		}
	}
}
