.core-layout {
	display: flex;
	margin: 0 auto;
	position: relative;
	&__content {
		box-shadow: $box-shadow-default;
		background: $white;
		width: 85%;
		margin: 0 auto;
		height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.main {
		min-width: 27rem;
	}
	.toggleIcon {
		position: absolute;
		font-size: $toggleIconSize;
		cursor: pointer;
		transition: right 0.2s;
		color: black;
		z-index: 999;
		font-size: 2rem;
		border: 1px solid black;
		border-radius: 50%;
		left: 4%;
		top: 0;

		&:hover {
			background-color: #00a3da;
			color: white;
		}
	}
}
