.core-layout {
	display: flex;
	margin: 0 auto;
	position: relative;
	&__content {
		box-shadow: $box-shadow-default;
		background: $white;
		width:90%;
		margin:0 auto;
		height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.main {
		min-width: 27rem;
	}
	.toggleIcon {
		bottom: 0.5rem;
		position: absolute;
		font-size: $toggleIconSize;
		cursor: pointer;
		transition: right 0.2s;
		color: black;
		z-index: 999;
		bottom: 57rem;
		font-size: 2rem;
		border: 1px solid black;
		border-radius: 50%;
		right: 97rem;
	}
}
